<div class="row">
	<h1>Voici les Coachings que vous avez créés</h1>
</div>

<div class="row">

	<% current_user.tracks.each do |track| %>
		<%= render partial: 'shortview_track', locals: { track: track } %>
		
	<% end %>

</div>