<h1>Billets du Blog</h1>

<br>

<div class="row">

	<div class="col-md-9">

		
      <h2><a href="/blog/se-liberer-du-trac-que-dit-la-science.html">Se libérer du trac : que dit la science</a></h2>
      <p>29 Apr 2014</p>
			<br>
      <div><p>Pour les curieux, voici les explications scientifiques qui sont derrière notre premier Coaching vous permettant de vous libérer du trac à l'oral.</p>

<p>Si vous avez la moindre question, n'hésitez surtout pas à nous écrire !</p>

<iframe src="//player.vimeo.com/video/93197717" width="750" height="420" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

</div>
      <div class="col-md-12 vertical-spacer"></div>
			<div class="col-md-12 vertical-spacer"></div>
    

	</div>

	<div class="col-md-3 post-list" id="home">

			<h3>Liste des billets :</h3>
			
	    
	    	<div>
	      <span>29 Apr 2014</span> &raquo; <a href="/blog/se-liberer-du-trac-que-dit-la-science.html">Se libérer du trac : que dit la science</a>
	    	</div>

	    

	</div>

</div>


