// Place all the styles related to the tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.badge {
	background-color: #DAE9F3;
  color: #2980b9;
  font-weight: lighter;
}

.pagination {
  position: relative;
}
.pagination ul {
  background: #d6dbdf;
  color: #ffffff;
  padding: 0;
  margin: 0;
  display: inline-block;
  border-radius: 6px;
}
.pagination ul li {
  display: inline-block;
  margin-right: -3px;
  vertical-align: middle;
}
.pagination ul li:first-child {
  border-radius: 6px 0 0 6px;
}
.pagination ul li:first-child.previous + li > a,
.pagination ul li:first-child.previous + li > span {
  border-left-width: 5px;
}
.pagination ul li:last-child {
  border-radius: 0 6px 6px 0;
  margin-right: 0;
}
.pagination ul li.previous > a,
.pagination ul li.next > a,
.pagination ul li.previous > span,
.pagination ul li.next > span {
  background: transparent;
  border: none;
  border-right: 2px solid #e4e7ea;
  font-size: 16px;
  margin: 0 9px 0 0;
  padding: 12px 17px;
  border-radius: 6px 0 0 6px;
}
.pagination ul li.previous > a,
.pagination ul li.next > a,
.pagination ul li.previous > span,
.pagination ul li.next > span,
.pagination ul li.previous > a:hover,
.pagination ul li.next > a:hover,
.pagination ul li.previous > span:hover,
.pagination ul li.next > span:hover,
.pagination ul li.previous > a:focus,
.pagination ul li.next > a:focus,
.pagination ul li.previous > span:focus,
.pagination ul li.next > span:focus {
  border-color: #e4e7ea !important;
}
@media (max-width: 480px) {
  .pagination ul li.previous > a,
  .pagination ul li.next > a,
  .pagination ul li.previous > span,
  .pagination ul li.next > span {
    margin-right: 0;
  }
}
.pagination ul li.next {
  margin-left: 9px;
}
.pagination ul li.next > a,
.pagination ul li.next > span {
  border-left: 2px solid #e4e7ea;
  border-right: none;
  margin: 0;
  border-radius: 0 6px 6px 0;
}
.pagination ul li.active > a,
.pagination ul li.active > span {
  background-color: #ffffff;
  border-color: #ffffff;
  border-width: 2px !important;
  color: #d6dbdf;
  margin: 10px 5px 9px;
}
.pagination ul li.active > a:hover,
.pagination ul li.active > span:hover,
.pagination ul li.active > a:focus,
.pagination ul li.active > span:focus {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #d6dbdf;
}
.pagination ul li.active.previous,
.pagination ul li.active.next {
  border-color: #e4e7ea;
}
.pagination ul li.active.previous > a,
.pagination ul li.active.next > a,
.pagination ul li.active.previous > span,
.pagination ul li.active.next > span {
  margin: 0;
}
.pagination ul li.active.previous > a,
.pagination ul li.active.next > a,
.pagination ul li.active.previous > span,
.pagination ul li.active.next > span,
.pagination ul li.active.previous > a:hover,
.pagination ul li.active.next > a:hover,
.pagination ul li.active.previous > span:hover,
.pagination ul li.active.next > span:hover,
.pagination ul li.active.previous > a:focus,
.pagination ul li.active.next > a:focus,
.pagination ul li.active.previous > span:focus,
.pagination ul li.active.next > span:focus {
  background-color: #1abc9c;
  color: #ffffff;
}
.pagination ul li.active.previous {
  margin-right: 6px;
}
.pagination ul li > a,
.pagination ul li > span {
  display: inline-block;
  background: #ffffff;
  border: 5px solid #d6dbdf;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  margin: 7px 2px 6px;
  min-width: 0;
  min-height: 16px;
  padding: 0 4px;
  border-radius: 50px;
  -webkit-transition: background .2s ease-out, border-color 0s ease-out, color .2s ease-out;
  transition: background .2s ease-out, border-color 0s ease-out, color .2s ease-out;
}
.pagination ul li > a:hover,
.pagination ul li > span:hover,
.pagination ul li > a:focus,
.pagination ul li > span:focus {
  background-color: #1abc9c;
  border-color: #1abc9c;
  color: #ffffff;
  -webkit-transition: background .2s ease-out, border-color .2s ease-out, color .2s ease-out;
  transition: background .2s ease-out, border-color .2s ease-out, color .2s ease-out;
}
.pagination ul li > a:active,
.pagination ul li > span:active {
  background-color: #16a085;
  border-color: #16a085;
}
.pagination > .btn.previous,
.pagination > .btn.next {
  margin-right: 8px;
  font-size: 14px;
  line-height: 1.429;
  padding-left: 23px;
  padding-right: 23px;
}
.pagination > .btn.previous [class*="fui-"],
.pagination > .btn.next [class*="fui-"] {
  font-size: 16px;
  margin-left: -2px;
  margin-top: -2px;
}
.pagination > .btn.next {
  margin-left: 8px;
  margin-right: 0;
}
.pagination > .btn.next [class*="fui-"] {
  margin-right: -2px;
  margin-left: 4px;
}

#attended-markup {
  color: #2ECC71
}

/*index filter*/

#search-tracks{
  display:inline;
}

.theme-filters {
  border-radius:0px;
  background-color: none;
  color:#2980b9;
  border-color:#BDC3C7;
  width: 170px;
}

#no-filter {
  margin-right: 70px;
}

.theme-filters:hover {
  border-bottom: 4px solid;
  color:#2980b9;
}

.theme-filters.btn.active {
  border-bottom: 4px solid;
}

#search-form {
  background-color: #f5f0eb;
  border:1px solid #e3e3e3;
}

.well-shortview a {
  color: #34495E;
}

.well-shortview a.btn-primary {
  color: white;
}

