<div class="well" id="contacts">
  <div><h3>Contacts</h3></div>
  <br>
  	<div class="row">
	  	<div class="col-md-2">
	  		<%= image_tag 'blaise.png', size: "150x150" %>
	  	</div>
	  	<div class="col-md-4">
		    <div class="col-md-12"><b>Blaise de Lanlay, Coach professionnel</b>
        <br>Enseignant à Sciences Po Paris
        <br>Intervenant auprès de médecins, sportifs, musiciens
		    <br>Diplôme à la Medical School of Harvard
		    <br>Diplômé d'HEC</div>
		    <div class="col-md-12"><a href="mailto:blaisedelanlay@gmail.com">blaisedelanlay@gmail.com</a></div>
		    <div class="col-md-12"><a href="tel:0033607022431">+33.6.07.02.24.31</a></div>
		  </div>
		  <div class="contacts col-md-6">
		  	<br>
		  	<br>
		  	<ul>
	        <li><a title="Facebook" class="big-icon fb-social" target="_blank" href="https://www.facebook.com/blaise.lanlay"></a></li>
	        <li><a title="Google+" class="big-icon g-social" target="_blank" href="https://plus.google.com/115438163239387204366"></a></li>
	        <li><a title="Linkedin" class="big-icon in-social" target="_blank" href="https://www.linkedin.com/pub/blaise-de-lanlay/42/477/a65"></a></li>
    		</ul>
			</div>
  	</div>
  	<br>
  	<div class="row">
	  	<div class="col-md-2">
	  		<%= image_tag 'Niels.png', size: "150x150" %>
	  	</div>
	  	<div class="col-md-4">
		    <div class="col-md-12"><b>Niels Mayrargue, Entrepreneur</b>
		    <br>Diplômé de Sciences Po
		    </div>
		    <div class="col-md-12"><a href="mailto:niels.mayrargue@gmail.com">niels.mayrargue@gmail.com</a></div>
		    <div class="col-md-12"><a href="tel:0033680488677">+33.6.80.48.86.77</a></div>
		  </div>
		  <div class="contacts col-md-6">
		  	<br>
		  	<br>
		  	<ul>
	        <li><a title="Twitter" class="big-icon tw-social" target="_blank" href="https://twitter.com/NielsMayrargue"></a></li>
	        <li><a title="Facebook" class="big-icon fb-social" target="_blank" href="https://www.facebook.com/niels.mayrargue"></a></li>
	        <li><a title="Google+" class="big-icon g-social" target="_blank" href="https://plus.google.com/103682894000863112376"></a></li>
	        <li><a title="Linkedin" class="big-icon in-social" target="_blank" href="https://www.linkedin.com/pub/niels-mayrargue/1a/1b0/96"></a></li>
    		</ul>
			</div>
  	</div>
    <br>
    <div class="row">
      <div class="col-md-2">
        <%= image_tag 'Aurelie.jpg', size: "150x150" %>
      </div>
      <div class="col-md-4">
        <div class="col-md-12"><b>Aurélie Fruitière, Ingénieur multimédia</b>
        <br>Diplômé de l'école d'ingénieur IMAC
        </div>
        <div class="col-md-12"><a href="mailto:afruitiere@gmail.com">afruitiere@gmail.com</a></div>
        <div class="col-md-12"><a href="tel:0033687687520">+33.6.87.68.75.20</a></div>
      </div>
      <div class="contacts col-md-6">
        <br>
        <br>
        <ul>
          <li><a title="Facebook" class="big-icon fb-social" target="_blank" href="https://www.facebook.com/aurelie.fruitiere?fref=ts"></a></li>
          <li><a title="Google+" class="big-icon g-social" target="_blank" href="https://plus.google.com/104690247220684867647/posts"></a></li>
          <li><a title="Linkedin" class="big-icon in-social" target="_blank" href="https://www.linkedin.com/in/aureliefruitiere"></a></li>
        </ul>
      </div>
    </div>
</div>
